// Calendar Menu / Filters
.cal-menu {
  @include respond-to(medium) {
    float: right;
    margin-bottom: 30px;
  }

  ul {
    padding-left: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
  }

  li {
    display: block;
    margin-bottom: 15px;
    @include respond-to(small) {
      display: inline-block;
    }
  }

  li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    background: #0071bc;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 3px;
    font-family: $sans-serif;
    font-size: 1.6rem;
    transition: .2s all;
    @include respond-to(small) {
      display: initial;
    }

    &:hover,
    &:focus {
      opacity: .7;
    }

  }

}

// Calendar Pager
.view-calendar .pager {

  ul {
    display: flex;
    padding-left: 0;
    margin: 0 auto;
    list-style: none;
    flex-wrap: wrap;
    @include respond-to(small) {
      justify-content: space-between;
    }
    @include respond-to(medium) {
      width: 100%;
      margin-top: 30px;
    }
  }

  .pager__item {
    @include respond-to(small) {
      flex: 1;
    }
    @include respond-to(medium) {
      flex: auto;
    }
  }

  .pager__item--current {
    order: 1;
    width: 100%;
    text-align: center;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    font-family: $sans-serif;
    @include respond-to(small) {
      width: auto;
      order: 2;
    }
    @include respond-to(medium) {
      padding-top: 0;
      margin-bottom: 30px;
    }
  }

  .pager__item--previous,
  .pager__item--next {
    width: 49%;
    font-size: 2rem;
    @include respond-to(small) {
      width: auto;
    }

    a {
      display: block;
      padding: .5rem;
      margin: .6rem;
      color: #666666;
      text-decoration: none;
      transition: .2s all;
    }

    a:hover,
    a:focus {
      opacity: .7;
    }

  }

  .pager__item--previous {
    order: 2;
    text-align: left;
    @include respond-to(small) {
      order: 1;
    }
  }

  .pager__item--next {
    order: 3;
    text-align: right;
  }

}

// Year View
// ----------------------------------------------------------------------------
.calendar-calendar .year-view {
  box-shadow: 0 0 40px #c6c2c2;

  & > table > tbody > tr {
    display: inline;
  }

  & > table > tbody > tr > td {
    display: inline-block;
    width: 100%;
    //flex-basis: 32%;
    //width: auto;
    @include respond-to(xsmall) {
      width: 49%;
    }
    @include respond-to(medium) {
      width: 33.333333%;
    }
  }

  .month-view {
    display: block;
  }

  .month-view tr {
    display: flex;
  }

}

.calendar-calendar .year-view td:nth-child(-n + 3) .month-view .date-nav-wrapper {
  margin-top: 0;
}

.calendar-calendar .year-view .month-view {
  box-shadow: none;
}

.calendar-calendar .year-view .month-view .year.day {
  padding: 0;
  a {
    background-color: #0071bc;
    color: #ffffff;
    display: block;
    border-radius: 2px;
  }
}

// Month View
// ----------------------------------------------------------------------------
.calendar-calendar .month-view {
  box-shadow: 0 0 40px #c6c2c2;
  * {
    border-color: #dfdfdf !important;
  }
}

// Header
.calendar-calendar .month-view th.days {
  font-size: 1.5rem;
  font-family: $sans-serif;
  border: none;
  background-color: #ffffff;
  padding: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

.calendar-calendar .month-view .full td:nth-child(7n) {
  border-right: none;
}

.calendar-calendar .month-view .full td:first-child,
.calendar-calendar .month-view .full td:nth-child(8n) {
  border-left: none;
}

.calendar-calendar .month-view .full tr:last-child > td {
  border-bottom: none;
}

.calendar-calendar .month-view .full tr.single-day .no-entry,
.calendar-calendar .month-view .full tr.single-day .no-entry .inner {
  height: 100px !important;
}

// Out of month day calendar striping
//.calendar-calendar .month-view .full td.date-box.empty {
//  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 0), #f4f4f4;
//  background-size: 34px auto;
//}
//
//.calendar-calendar .month-view .full td.single-day.empty {
//  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 0), #f4f4f4;
//  background-size: 11px auto;
//}

// Numbers in individual day squares
.calendar-calendar .month-view .full td .inner div.day {
  font-family: $sans-serif;
  color: #777;
}

.calendar-calendar .month-view .full td.date-box.empty .inner div.day {
  color: #9f9f9f;
}



// Week View
// ----------------------------------------------------------------------------
.calendar-calendar .week-view table.full .calendar-agenda-hour,
.calendar-calendar .week-view table.full .calendar-day-holder {
  background: none;
  border: none;
}

.calendar-calendar .week-view {
  box-shadow: 0 0 40px #c6c2c2;
  border-radius: 11px;
  overflow: hidden;
}

.calendar-calendar .week-view .single-day-footer {
  display: none;
}

.calendar-calendar .week-view .single-day .view-item {
  width: 100%;
  background: none;
  text-align: left;
  z-index: 1;
  margin-top: -24px;
  max-width: 120px;
  float: none;
}

.calendar-calendar .week-view .full .days {
  color: #777;
  font-weight: 600;
  border: none;
  background: #ffffff;
  padding: 15px 0;
  text-transform: uppercase;
}

// Day View
.calendar-calendar .day-view #single-day-container {
  box-shadow: 0 0 40px #c6c2c2;
  border-radius: 11px;
  overflow: hidden;
}

// List View
// ----------------------------------------------------------------------------
.calendar-list {
  .view-display-id-page_1 {
    .views-row {
      float: none;
      padding: 15px 0;
      margin: 15px 0;
    }      
  }
}

// General
// ----------------------------------------------------------------------------
.calendar-calendar .month-view .full tr.single-day .no-entry .past {
  color: #777777;
}
.month-view .full td.single-day div.monthview, .week-view .full td.single-day div.weekview, .day-view .full td.single-day div.dayview {
  background: #9FE3F8;
  color: #000;
  border-left: 5px solid #008FFB;
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px;

  a {
    color: #000;
  }

}

// Events in individual day squares maybe? I have no idea what the following does:

.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview {
  background: #9fe3f8;
  color: #000000;
  border-left: 5px solid #008ffb;
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px;

  a {
    color: #000000;
  }

}

.calendar-calendar .day-view div.single-day .view-item {
  width: 100%;
  background: none;
  text-align: left;
  z-index: 1;
  margin-top: -24px;
  max-width: 120px;
  float: none;
}

.calendar-calendar .week-view div.single-day .view-item {
  width: 100%;
  background: none;
  text-align: left;
  z-index: 1;
  margin-top: -24px;
  max-width: 120px;
  float: none;
}

.calendar-calendar .single-day .weekview {
  background: #9fe3f8 !important;
  color: #000000 !important;
  border-left: 5px solid #008ffb !important;
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;

  .contents,
  .cutoff {
    background: #9fe3f8 !important;

    a {
      background: #9fe3f8 !important;
      color: #000000;
    }

  }
}
