// @todo: Refactor this file. Its a mess.
/* END Agency Footer */

@media screen and (min-width: 600px) {

  .nasa-header-menu,
  .nasa-agency-footer-container {
    flex-direction: row;
  }

  .nasa-agency-title,
  .nasa-agency-footer-container {
    text-align: left;
  }

  .nasa-header-menu ul li,
  .footer-agency-links li {
    display: inline-block;
  }

}

@media screen and (min-width: 300px) and (max-width: 700px) {

  header {

    .usa-banner {
      padding: 0;
    }

  }

  .nasa-agency-title {
    margin-left: 0px;
  }


  .view-calendar {
    .pager {
      width: 100%;
    }
    .pager__item--current {
      float: right;
    }
  }

  body.calendar .pager .pager__item--current, body.path-calendar .pager .pager__item--current {
    padding: 9px;
  }

  .calendar-calendar {
    .month-view {
      .item {
        display: none;
      }
      .single-day {
        display: none;
      }
      .full tr td.today {
        border: 1px solid #ccc;
      }
    }
  }

}
