{#/**
* @file
* Template to display a calendar header.
* Be default called by CalendarHeader area.
*
* Available variables:
* - title: Header Title.
* - empty: Whether there are any results.
* - granularity: whether this is week, day, month or year display.
*
* @ingroup themeable
*/
#}
{# @todo Finish Header if this the way to go. #}
<h3>{{ title }}</h3>
